* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(139, 139, 139, 0.52),
      rgba(36, 36, 36, 0.932)
    ),
    url(../../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}
li,
ul {
  padding: 0;
  list-style: none;
}

#wrap-title {
  display: none;
  justify-content: center;
  margin-left: 29px;

  &:hover {
    #reset-btn {
      opacity: 1;
    }
  }
}

#reset-btn {
  opacity: 0;
  background-color: transparent;
  border: none;
  transition: all 300ms;
}

input {
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  text-align: center;
  outline: none;
  border-bottom: 2px solid white;

  &::placeholder {
    color: rgb(196, 196, 196);
  }
}

#msg {
  display: inline-block;
  margin-top: 4rem;
}

#title {
  font-size: 3.5rem;
}

.todos {
  min-width: 520px;
  width: 30%;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.todo {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  font-weight: 600;
  span {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: white;
    transition: all 300ms;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.add-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
